<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>La Vie En Tea</title>

<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="css/main-style.css" rel="stylesheet" type="text/css">
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light">
<a class="navbar-brand" href="#"><img  src="images/LOGO FINAL (200)-01.png"></a>
</nav> 
<nav class="navbar navbar-expand-lg navbar-light">
<div class="container">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MENU</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">GALLERY</a>
      </li>
    </ul>
  </div> </div>
</nav>

<!-- TemplateBeginEditable name="EditRegion1" -->
<div class="main"></div>
<!-- TemplateEndEditable -->

<footer class="bg-light">
<div class="container">
<div class="row">
<div class="col-md-4">
<img src="images/LOGO FINAL (200)-01.png"> <br>
<i class="fa fa-facebook"></i>
</div>
<div class="col-md-4">
<h5> The La Vie En Tea</h5> <br>
<p> Chi tiết truy cập tại : www.LavieenTea.com </p>
<br>
<p>La vie en Tea - 01 Pasteur P.6 Q.3 TP.HCM </p>
</div>
<div class="col-md-4">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.320103322887!2d106.68731031525732!3d10.786776992314453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f326096da01%3A0xf1cb033a16d9e92!2zMjU2LzEgUGFzdGV1ciwgUGjGsOG7nW5nIDgsIFF14bqtbiAzLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1570424502612!5m2!1svi!2s" width="450" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>



</div>
</div>
</footer>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
